<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBOxdg9JGHtCJfSciZTuyOkn-trdzhZ-g</string>
	<key>GCM_SENDER_ID</key>
	<string>902203386107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notepadProPlus.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notepad-pro-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>notepad-pro-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902203386107:ios:8ae3af80a4d1d32ce8685e</string>
</dict>
</plist>